@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Londrina+Solid);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800,800italic);

body{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	margin:0px;
	color:#4a4444
}
.banner-heading{
	color:#fff;
	font-family: 'Londrina Solid', cursive;
	line-height:1em;
	font-size:32px
}
.heading{
	color:#554e4e;
	font-size:30px;
	font-weight:normal
}
.banner-text{
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	line-height:1.2em;
	font-size:14px;
	font-weight:normal
}
#page{
	background-image:url(../images/page.jpg);
	background-repeat:repeat-y;
	width:992px;
	margin:0 auto;	
}
#header{
	width:940px;
	margin-left:26px;
	margin-right:26px
}
#content{
	width:940px;
	margin-left:26px;
	margin-right:26px
}
#content-left{
	width:680px;
	padding:20px;
	float:left
}
#content-right{
	width:200px;
	padding:10px;
	float:left
}
#menu{
	width:940px;
	height:41px;
	background-image:url(../images/menu.jpg);
	background-repeat:repeat-x;
}
#banner{
	width:940px;
	height:398px;
	background-color:#000
}
#menu ul{
	list-style-type:none;
	margin:0;
	padding:0;	
}
#menu ul li{	
	float:left
}
#menu ul li a{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#fff;
	text-decoration:none;
	display:block;
	background-image:url(../images/separator.jpg);
	background-position:right;
	background-repeat:no-repeat;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:1px
}
#menu ul li a:hover{
	text-decoration:underline
}
.footer{
	background-image:url(../images/footer1.jpg);
	color:#fff
}
.footer a{
	color:#b15354
}
.page-heading{
	background-image:url(../images/footer1.jpg);
	font-size:16px;
	padding:10px;
	background-color:#ed1c24;
	color:#fff;
	border-bottom:4px solid #ccc
}
.list_carousel {
	background-color: #fff;
	/*margin: 0 0 30px 60px;*/
	width: 310px;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	font-size: 40px;
	color: #999;
	text-align: center;
	background-color: #fff;
	border: 0px solid #999;
	width: 140px;
	height: 70px;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.clearfix {
	float: none;
	clear: both;
}
.prev {
	float: left;
	margin-left: 10px;
}
.next {
	float: right;
	margin-right: 10px;
}
.pager {
	float: left;
	width: 300px;
	text-align: center;
}
.pager a {
	margin: 0 5px;
	text-decoration: none;
}
.pager a.selected {
	text-decoration: underline;
}
.timer {
	background-color: #cdc9ea;
	height: 6px;
	width: 0px;
}

.list_carousel1 {
	background-color: #fff;
	/*margin: 0 0 30px 60px;*/
	width: 800px;
}
.list_carousel1 ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel1 li {
	font-size: 40px;
	color: #999;
	text-align: center;
	background-color: #fff;
	border: 0px solid #999;
	width: 175px;
	height: 121px;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
}
.list_carousel1.responsive {
	width: auto;
	margin-left: 0;
}
